---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true })); // Puxa os posts. Gera uma lista de forma dinâmica.
const pageTitle = "The Blog";
---

<BaseLayout>
		<h1>{pageTitle}</h1>

        <p>This is the blog page.</p>
        <ul>
			{allPosts.map((post: any) => <BlogPost url={post.url} title = {post.frontmatter.title} pubDate = {post.frontmatter.pubDate.toString().slice(0,10)}/>)} <!-- Gera uma lista dos posts dinamicamente. -->
		</ul>
</BaseLayout>