---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home page";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h3>My website's subtitle -- now in the BaseLayout tags.</h3>
		<p> Este site foi criado para praticar o framework Astro.
	<li>
		<ul> Teste</ul>
	</li>
</BaseLayout>
