---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home page";
---
<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h3>My website's subtitle -- now in the BaseLayout tags.</h3>
		<p> Este site foi criado para praticar o framework Astro.
	<li>
		<ul> Teste</ul>
	</li>

	<Greeting messages={["Oi", "Opa!", "Ôba! Baum?"]} /> 
	<Greeting client:load messages={["Fala, Nigel!", "Ôba, baum?", "Hallo!", "Hola!"]} /> <!-- Só  segundo funciona porque ele orienta o Astro a rodar o script novamente ao carregar a página, tornando o componente interativo. Este é um componente 'hidratado', ao passo que o de cima é 'não hidratado.' -->

</BaseLayout>
